/*
 * Customization Variables
 */

$accent: black;
$hover-accent: #9E0000;
$main-color: #FBFBFB;
$image-size: 85px;

/*
 * Build Variables, don't touch
 */

$max-width: 70%;
$med-width: 600px;
$small-width: 480px;
